*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    align-items: center;
    font-family: 'Creepster', cursive;
}

.main-section {
    height: 93vh;
    width: 100%;
    z-index: 1;
    position: relative;
    background-image: url("../assets/halloween_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    height: 60px;
    font-size: 5vh;
}

.game-footer {
    display: inline-flex;
    padding: 10px 40px 0px 40px;
}

.game-footer p {
    padding: 4px;
}

#game-time {
    margin-left: auto;
}

.ghost {
    height: 55px;
    width: 55px;
    margin: 10px;
    
}

.wizard {
    height: 120px;
    width: 120px;
    
    justify-content: right;
}

.question {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
}

.question div {
    padding-right: 5px;
}

.answer {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.wizard-div {
    margin-top: auto;
    z-index: 0;
    position: fixed;
    left: 90%;
}

.ghosts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.game-over {
    color: yellow;
    font-size: 5rem;
    display: none;
    padding-left: 600px;
}


/* #ghost1 {
    padding-left: 900px;
    background-color: yellow;
}

#ghost2 {
    padding-left: 100px;
    background-color: aqua;
} */