*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    align-items: center;
    font-family: 'Creepster', cursive;
}

.main-section{
    height: 93vh;
    z-index: 1;
    position: relative;
    background-image: url("../assets/halloween_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    height: 60px;
    font-size: 35px;
}

.game-footer{
    display: inline-flex;
    padding: 10px 40px 0px 40px;
}

.game-footer p {
    padding: 4px;
}
#game-time{
    margin-left: auto;
}


.ghost{
    height: 85px;
    width: 85px;
    margin: 10px;
}

.wizard{
    height: 120px;
    width: 120px;
    justify-content: right;
}

.question{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    margin-left: 35px;
}

.question div{
    padding-right: 5px;
}

.answer{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.wizard-div{
    margin-top: auto;
}