*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    align-items: center;
    font-family: 'Creepster', cursive;
}

.main-section {
    height: 100vh;
    z-index: 1;
    position: relative;
    background-image: url("../assets/halloween_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.dark-bg>div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

p {
    margin-top: 20px;
    display: inline-block;
}

.high-score-style {
    text-align: center;
    padding-left: 120px;
    font-family: 'Creepster', cursive;
    padding-top: 70px;
    font-size: 55px;
    color: white;
}

.h1 {
    transform: translate(9px, 35px) rotate( -50deg);
}

.i1 {
    transform: translate(-6px, -1px) rotate( -38deg);
}

.g1 {
    transform: translate(-14px, -26px) rotate( -27deg);
}

.h2 {
    transform: translate(-18px, -48px) rotate( -15deg);
}

.s1 {
    transform: translate(-7px, -55px) rotate( -1deg);
}

.c1 {
    transform: translate(-10px, -51px) rotate( 4deg);
}

.o1 {
    transform: translate(-17px, -37px) rotate( 29deg);
}

.r1 {
    transform: translate(-30px, -11px) rotate( 40deg);
}

.e1 {
    transform: translate(-44px, 18px) rotate( 41deg);
}

.s2 {
    transform: translate(-61px, 52px) rotate( 45deg);
}

span {
    display: inline-block;
}