*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    align-items: center;
    font-family: 'Creepster', cursive;
}

.main-section {
    height: 100vh;
    z-index: 1;
    position: relative;
    background-image: url("../assets/halloween_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.rule-style {
    padding-left: 20px;
    padding-top: 20px;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 100px;
}

ol li {
    color: #fff;
    font-size: 2.5rem;
}

ul li {
    color: #fff;
    font-size: 2.5rem;
}

.btn {
    border: 2px solid black;
    background-color: goldenrod;
    color: white;
    border-radius: 4px;
    padding: 14px 30px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Creepster', cursive;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
    text-transform: uppercase;
    align-self: center;
}

.btn:hover {
    background-color: white;
    color: goldenrod;
}

.btn-back{
   padding-left: 690px;
   padding-top: 20px;
}